.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 1.5rem 0;
}

.container {
  width: 100%;
  max-width: 1170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (min-width: 1200px) {
    padding: 10px 20px;
  }
}

.logo {
  width: 30%;
  font-size: 1.5rem;
  color: #3e444e;
  font-weight: 300;
  padding-left: 16px;
}

.header nav {
  width: 60%;
  padding-right: 10px;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.header li {
  padding: 0 10px;
}

@media (min-width: 1200px) {
  .header li {
    padding: 16px 24px;
  }
}

.header a {
  height: 100%;
  text-decoration: none;
  font-size: 1rem;
  color: #3e444e;
}

@media (min-width: 1200px) {
  .header a {
    height: 100%;
    text-decoration: none;
    font-size: 1.2rem;
    color: #3e444e;
  }
}

.header a:hover,
.header a:active,
.header a.active {
  opacity: 0.3;
  transition: opacity 0.3s;
}
